/*------------------banner-----------------*/
.site-banner{
    background:url("../images/index/index_banner.jpg") no-repeat center top;
    height:600px;

}
.site-banner .container{
    position: relative;
    height:399px;

}
.site-banner .container a{
    position: absolute;
    left:63%;
    bottom:5%;
    width:123px;
    height:123px;
}
.site-banner .container a:hover{
    width:128px;
    height:128px;
}
.site-nav .container .li1 a{
    background: url("../images/index/index_line1.jpg") no-repeat center 80%;
}
.container h2 img{
    padding-top:118px;
    padding-bottom:60px;
    margin:0 auto;
}
/*--------------notice--------------*/
.site-notice .container dl{
    display: block;
    font-size:14px;
    line-height:30px;
    width:800px;
    float:left;
    color:#505050;
}
.site-notice .container dl dt{
    width:134px;
    height:30px;
    line-height:30px;
    float:left;
    margin-right:40px;
}
.site-notice .container dl dt span{
    float:right;
    color:#58ffcb;
}
.site-notice .container dl dd{
    width:626px;
    line-height:30px;
    float:left;
}
/*--------------introductions--------------*/
.site-introductions .container p{
    display: block;

    line-height:30px;
    float:left;
    margin-bottom:20px;
    font-size:14px;
    color:#505050;
}
.site-introductions .container .p3{
    margin:0;
}
/*--------------modules--------------*/
.site-modules h2{
    position: relative;
}
.site-modules h2 a{
    display: block;
    width:130px;
    height:34px;
    line-height:34px;
    font-size:10px;
    text-align: center;
    border:3px solid #1bfeb9;
    position:absolute;
    right:0;
    bottom:60px;
}
.site-modules .modules-left{
    float:left;
}
.site-modules .modules-right{
    float: right;
}
.site-modules img{
    padding-bottom:30px;
}
.site-modules .download{
    height:40px;
    border:3px solid #1bfeb9;
    width:794px;
    background: url("../images/common/download.png") no-repeat 43% center;
}
.site-modules .download a{
    display: block;
    line-height:40px;
    text-align: center;
    font-size:14px;
    width:794px;
}
/*--------------information--------------*/
.site-information .container dl{
    display: block;
    font-size:14px;
    line-height:30px;
    width:800px;
    float:left;
    color:#505050;
}
.site-information .container dl dt{
    width:110px;
    height:30px;
    line-height:30px;
    float:left;
}
.site-information .container dl dd{
    width:690px;
    line-height:30px;
    float:left;
}
/*--------------news--------------*/
.site-news h2{
    position: relative;
}
.site-news h2 a{
    display: block;
    width:130px;
    height:34px;
    line-height:34px;
    font-size:10px;
    text-align: center;
    border:3px solid #1bfeb9;
    position:absolute;
    right:0;
    bottom:60px;
}
.site-news .con-news dl{
    width:250px;
    float:left;
}
.site-news .con-news .middle{
    margin:0 25px;
}

.site-news .con-news dl dd{
    font-size:16px;
    line-height:28px;
}
.site-news .con-news dl dd img{
    margin-top: 20px;
}
.site-news .con-news dl .dd1{
    height:40px;
    line-height:40px;
    font-size:10px;
    color:#1bfeb9;
}
/*--------------partners--------------*/
.site-partners .con-partners{
    overflow: hidden;
}

